<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Products LaVi</title>
    <link rel="stylesheet" href="edit.css">
    <script src="/dist/edit/edit.js" defer></script>

    <!-- Externs imports -->
    <script src="https://kit.fontawesome.com/ad32a95b01.js" crossorigin="anonymous" defer></script>
</head>

<body id="pageBody">
    <nav>
        <h1>Vitallie Products</h1>
    </nav>
    <main>
        <section class="productlist">
            <div class="button-controller">
                <input id="prodName" class="input-to-create" type="text" placeholder="Product name">
                <input id="prodPrice" class="input-to-create" type="text" placeholder="Product price">
            </div>
        </section>
    </main>
    <button class="save-button" onclick="saveProduct()">
        <i class="fa fa-check"></i>
    </button>
</body>

</html>